$fontSize: 16px;
$green: #217513;
$darkGreen: #24651a;

.btn {
  font-size: $fontSize;
  border-radius: 4px;
  background-color: $green;
  border: 1px solid $darkGreen;
  color: #fff;
  padding: 6px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $darkGreen;
  }
}

p {
  color: #e70000;
  font-weight: bold;
}